#account-saved-courses {
    display: grid;
    grid-template-columns: 1fr;

    @include lg {
        grid-template-columns: 2fr 5fr;
        gap: 150px;
        margin-bottom: 70px;
    }

    .details {
        margin-top: 50px;
        width: 100%;

        .saved-items {

            .title {
                display: flex;
                justify-content: space-between;

                h2 {
                }

                .btn-red-border {

                    i {
                        color: $danger;
                    }
                }
            }




            .content {
            }
        }
    }
}
