.account {
    .container {
        display: grid;
        grid-template-columns: 1fr;

        @include lg {
            grid-template-columns: 2fr 5fr;
            gap: 150px;
            margin-bottom: 70px;
        }
    }
}
