#account-saved-courses {
    .details {
        margin-top: 50px;
        width: 100%;

        .saved-items {

            .title {
                display: flex;
                justify-content: space-between;

                h2 {
                }

                .btn-red-border {

                    i {
                        color: $danger;
                    }
                }
            }




            .content {
            }
        }
    }
}
