#courses {
    margin-top: 40px;

    .container {
        display: flex;
        flex-direction: column;

        .breadcrumbs {
            display: flex;
            align-items: center;
            margin-top: 20px;

            i {
                margin-right: 5px;
            }

            p {
                margin-bottom: 0;
                margin: 0 10px;
                display: inline;
            }

            .current-page {
                color: $theme;
            }
        }

        .titleAndFilter {
            display: flex;
            flex-direction: column;
            margin: 30px 0;

            @include lg {
                justify-content: space-between;
                flex-direction: row;
                height: 52px;
            }

            h1 {
                font-weight: 800;
            }

            form {
                .filterAndSearch {
                    display: flex;
                    flex-direction: column;

                    @include lg {
                        justify-content: flex-end;
                        flex-direction: row;
                    }

                    select {
                        @include lg {
                            margin-bottom: 0;
                        }
                    }

                    .input-container {
                        position: relative;
                        width: 240px;

                        input {
                            padding: 10px;
                            border: 2px solid $gray-400;
                            border-radius: 5px;
                            margin-right: 10px;
                            height: 44px;
                        }

                        .icon {
                            position: absolute;
                            left: 200px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

        nav {
            display: flex;
            justify-content: center;
            margin-top: 30px;

            .pagination {
                .page-item {
                    a {
                        color: $black;

                        &:active {
                            background-color: $info;
                        }
                    }
                }
            }
        }

        .get-started {
            background-color: var(--color-gray-100);
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 100px;

            &.dark {
                background-color: var(--color-gray-800);
            }

            .text-box {
                h5 {
                    font-weight: 700;
                    margin-bottom: 10px;
                    width: 350px;
                    font-size: 30px;

                    span {
                        color: $info;
                    }
                }

                a {
                    width: 162px;
                    margin-top: 30px;
                    text-align: center;
                }
            }

            .image-box {
                display: none;

                @include lg {
                    display: block;
                }
            }
        }
    }
}
