#download-section {
    display: flex;
    background-color: var(--color-gray-100);

    &.dark {
        background-color: var(--color-gray-800);
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 70px 50px 70px;


        &.dark {
            background-color: var(--color-gray-700);
        }

        @include xl {
            justify-content: space-between;
            flex-direction: row;
        }

        img {
            width: 526px;
            height: 580px;
        }

        .content {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include lg {
                align-items: flex-start;
            }

            h3 {
                color: var(--color-gray-black);
                margin: 20px 0;
                width: 100%;

                @include lg {
                    width: 60%;
                }
            }

            .download-option {
                @include md {
                    display: flex;
                    margin-bottom: 30px;
                }

                .text {
                    p {
                        color: var(--color-gray-600);
                        margin-bottom: 0;
                    }

                    .star {
                        position: relative;
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        background-color: var(--color-warning);
                        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                    }

                    .rating {
                        margin-top: 10px;

                        h5 {
                            margin-bottom: 0;
                        }

                        p {
                            color: var(--color-gray-700);
                        }
                    }
                }

                img {
                    width: 180px;
                    height: 52px;
                    margin-bottom: 30px;

                    @include md {
                        margin-bottom: 0;
                        align-self: flex-end;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}
