#newsletter-section {
    background-color: var(--color-gray-100);
    padding: 70px 0;

    &.dark {
        background-color: var(--color-gray-800);
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            display: flex;
            margin-bottom: 20px;
            width: 100%;
            justify-content: center;

            @include lg {
                width: 93%;
                justify-content: flex-start;
            }

            @include xl {
                width: 77%;
            }

            @include xxl {
                width: 67%;
            }

            h3 {
                color: var(--color-gray-900);
                margin-right: 10px;

                @include lg {
                    margin-right: 20px;
                }

                &.dark {
                    color: var(--color-gray-100);
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .checkboxes {
                display: flex;
                flex-direction: column;

                @include lg {
                    flex-direction: row;
                    justify-content: space-between;
                    width: 856px;
                    margin-bottom: 30px;
                }

                p {
                    font-weight: 700;
                    color: var(--color-gray-900);

                    &.dark {
                        opacity: 1 !important;
                        color: var(--color-gray-100);
                    }
                }

                .checkbox-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .checkbox {
                        label {
                            color: var(--color-gray-600);

                            &.dark {
                                color: var(--color-gray-800);
                                opacity: 70% !important;
                            }
                        }
                    }
                }
            }

            .email-form {
                display: flex;
                margin-top: 20px;
                width: 100%;

                @include lg {
                    width: 856px;
                }

                input {
                    width: 100%;
                    border-radius: 10px;

                    &.dark {
                        background-color: var(--color-gray-800);
                        border: 1px solid var(--color-gray-700);
                    }
                }

                button {
                    border-radius: 10px;
                    margin-left: 15px;
                }
            }

            .terms {
                color: var(--color-gray-600);
                margin-top: 10px;
                width: 100%;
                justify-content: center;

                @include lg {
                    width: 93%;
                    justify-content: flex-start;
                }

                @include xl {
                    width: 77%;
                }

                @include xxl {
                    width: 67%;
                }

                &.dark {
                    opacity: 70% !important;
                }

                a {
                    color: var(--color-theme);
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
