#signup {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        @include lg {
            width: 60%;
        }

        @include xl {
            width: 40%;
        }

        form {
            padding: 1rem;

            p {
                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            } 

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-auto-columns: 1fr;
                grid-template-areas: "firstname" "lastname" "email" "password" "confirm" "terms" "button";

                @include md {
                    grid-auto-columns: 1fr 1fr;
                    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "button button";
                }

                #form-firstname {
                    grid-area: firstname;
                }

                #form-lastname {
                    grid-area: lastname;
                }

                #form-email {
                    grid-area: email;
                }

                #form-password {
                    grid-area: password;
                }

                #form-confirm {
                    grid-area: confirm;
                }

                #form-terms {
                    grid-area: terms;
                    padding: 1rem 0;
                }

                #form-submit {
                    grid-area: button;
                }

                a {
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
