<section id="error">
    <div class="container">
        <img src="/images/404.svg" alt="Error image" id="error" />
        <div class="text-container">
            <h2>Ooops!</h2>
            <p>The page you are looking for is not available.</p>
            <a class="btn-theme-s" href="/"><i class="fa-solid fa-house"></i> Go to homepage</a>
        </div>
    </div>
</section>