<aside>
    <div class="profile-info">
        <img src="@Model.BasicInfo.ProfileImage" alt="@($"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}")" />
        <h5>@($"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}")</h5>
        <p>@Model.BasicInfo.Email</p>
    </div>
    <nav>
        <a class="btn-theme-s" asp-controller="Account" asp-action="Details">Account Details</a>
        <a class="btn-theme-s" asp-controller="Account" asp-action="Security">Security</a>
        <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses">Saved Courses</a>
        <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut">Sign out</a>
    </nav>
</aside>
