<aside>
    <div class="profile-info">
         <div class="image-container">
            <img id="profileImage"
                 src="@(Model.ProfileInfo != null ? Model.ProfileInfo.ProfileImage : "~/images/default-avatar.png")"
                 alt="@(Model.ProfileInfo != null && !string.IsNullOrEmpty(Model.ProfileInfo.FirstName) && !string.IsNullOrEmpty(Model.ProfileInfo.LastName) ? $"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}" : "User")"
                 class="rounded-image" />
        </div>
        @await Html.PartialAsync("~/Views/Sections/_UploadProfileImagePartial.cshtml", new UploadProfileImageViewModel())


        <h5>@(Model.ProfileInfo != null && !string.IsNullOrEmpty(Model.ProfileInfo.FirstName) && !string.IsNullOrEmpty(Model.ProfileInfo.LastName) ? $"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}" : "User")</h5>
        <p>@(Model.ProfileInfo != null ? Model.ProfileInfo.Email : "")</p>
    </div>
    <nav>
        <a class="btn-theme-s" asp-controller="Account" asp-action="Details">Account Details</a>
        <a class="btn-theme-s" asp-controller="Account" asp-action="Security">Security</a>
        <a class="btn-theme-s" asp-controller="Account" asp-action="SavedCourses">Saved Courses</a>
        <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut">Sign out</a>
    </nav>
</aside>
