@model AccountDetailsViewModel

<section class="basic-info">
  
    <form id="basicInfoForm" method="post" asp-controller="Account" asp-action="Details" novalidate>
        <h2>Account Details</h2>
        <h5>Basic Info</h5>
        <div class="content">
            <div id="form-firstname" class="input-group">
                <label asp-for="BasicInfo!.FirstName"></label>
                <span asp-validation-for="BasicInfo!.FirstName"></span>
                <input asp-for="BasicInfo!.FirstName" />
            </div>
            <div id="form-lastname" class="input-group">
                <label asp-for="BasicInfo!.LastName"></label>
                <span asp-validation-for="BasicInfo!.LastName"></span>
                <input asp-for="BasicInfo!.LastName" />
            </div>
            <div id="form-email" class="input-group">
                <label asp-for="BasicInfo!.Email"></label>
                <span asp-validation-for="BasicInfo!.Email"></span>
                <input asp-for="BasicInfo!.Email" />
            </div>
            <div id="form-phone" class="input-group">
                <label asp-for="BasicInfo!.Phone"></label>
                <span asp-validation-for="BasicInfo!.Phone"></span>
                <input asp-for="BasicInfo!.Phone" />
            </div>
            <div id="form-bio" class="input-group">
                <label asp-for="BasicInfo!.Biography">Bio <span>(optional)</span></label>
                <textarea asp-for="BasicInfo!.Biography"></textarea>
            </div>
            <div class="form-buttons">
                <button class="btn-gray" type="reset">Cancel</button>
                <button class="btn-theme" type="submit">Save changes</button>
            </div>
        </div>
    </form>
</section>
