@model AccountSecurityViewModel

<form method="post" asp-controller="Account" asp-action="Security" novalidate>
    <h1>Security</h1>
    <h5>Password</h5>

    <div class="content">
        <div id="form-current-password" class="input-group">
            <label asp-for="Password!.CurrentPassword"></label>
            <span asp-validation-for="Password!.CurrentPassword"></span>
            <input asp-for="Password!.CurrentPassword" />
        </div>
        <div id="form-new-password" class="input-group">
            <label asp-for="Password!.NewPassword"></label>
            <span asp-validation-for="Password!.NewPassword"></span>
            <input asp-for="Password!.NewPassword" />
        </div>
        <div id="form-confirm-password" class="input-group">
            <label asp-for="Password!.ConfirmPassword"></label>
            <span asp-validation-for="Password!.ConfirmPassword"></span>
            <input asp-for="Password!.ConfirmPassword" data-val-equalto-other="Password.NewPassword" />
        </div>

        <div class="form-buttons">
            <button class="btn-gray" type="reset">Cancel</button>
            <button class="btn-theme" type="submit">Change password</button>
        </div>
    </div>
</form>