@model ContactViewModel

<form method="post" asp-controller="Contact" asp-action="Index" novalidate>
    <h2>Get In Contact With Us</h2>
    <div id="form-contactFullName" class="input-group">
        <label asp-for="FullName"></label>
        <span asp-validation-for="FullName"></span>
        <input asp-for="FullName" />
    </div>
    <div id="form-contactEmail" class="input-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email"></span>
        <input asp-for="Email" />
    </div>
    <div id="form-contactService" class="input-group">
        <label asp-for="Service">Service <span>(optional)</span></label>
        <input asp-for="Service" />
    </div>
    <div id="form-contactMessage" class="input-group">
        <label asp-for="Message"></label>
        <span asp-validation-for="Message"></span>
        <textarea asp-for="Message"></textarea>
    </div>
    <div class="form-button">
        <button id="form-contactSubmit" class="btn-theme-s" type="submit">Send Contact Request</button>
    </div>
</form>