<section id="author">
    <div class="author-container">
        <img class="author-image" src="/images/author-large.svg" alt="course author large image" />
        <div class="text">
            <div class="pattern-container">
                <img src="/images/pattern.svg" alt="line pattern" />
            </div>
            <p>Learn from the best</p>
            <h3>Albert Flores</h3>
            <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
            <div class="buttons">
                <a class="btn-red"><i class="fa-brands fa-youtube"></i> 24.0k subscribers</a>
                <a class="btn-theme-s"><i class="fa-brands fa-square-facebook"></i> 180k followers</a>
            </div>
        </div>
    </div>
</section>
