<header>
    <div class="container">
        <a class="logo" asp-controller="Home" asp-action="Index"><img src="/images/solid.svg" alt="Silicon" id="logo"></a>

        <div id="menu" class="hide">
            <nav>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
                <a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
                <a class="menu-link" asp-controller="Contact" asp-action="Index">Contact</a>
            </nav>
        </div>

        <div class="btn-switch">
            <label>Light</label>
            <label class="switch" for="switch-mode">
                <input type="checkbox" id="switch-mode" runat="server">
                <span class="slider round"></span>
            </label>
            <label>Dark</label>
        </div>

        <div id="account-buttons">
            <a class="btn-gray" asp-controller="Auth" asp-action="SignIn"><i class="fa-solid fa-right-to-bracket"></i><span>Sign in</span></a>
            <a class="btn-theme" asp-controller="Auth" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign up</span></a>
        </div>

        <button onclick="toggleMenu()" class="btn-mobilemenu">
            <i class="fa-regular fa-bars"></i>
        </button>
    </div>
</header>