@model NewsletterViewModel

<section id="newsletter-section" class="newsletter-section">
    <div class="container">
        <div class="title">
            <h3>Don't Want to Miss Anything?</h3>
            <img src="/images/arrows.svg" alt="Arrow" />
        </div>

        <form method="post" asp-action="Index" asp-controller="Home">
            <div class="checkboxes">
                <p>Sign up for Newsletters</p>
                <div class="checkbox-container">
                    <div class="checkbox">
                        <input asp-for="DailyNewsletter" />
                        <label asp-for="DailyNewsletter"></label>
                    </div>
                    <div class="checkbox">
                        <input asp-for="AdvertisingUpdates" />
                        <label asp-for="AdvertisingUpdates"></label>
                    </div>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox">
                        <input asp-for="WeekInReview" />
                        <label asp-for="WeekInReview"></label>
                    </div>
                    <div class="checkbox">
                        <input asp-for="EventUpdates" />
                        <label asp-for="EventUpdates"></label>
                    </div>
                </div>
                <div class="checkbox-container">
                    <div class="checkbox">
                        <input asp-for="StartupsWeekly" />
                        <label asp-for="StartupsWeekly"></label>
                    </div>
                    <div class="checkbox">
                        <input asp-for="Podcasts" />
                        <label asp-for="Podcasts"></label>
                    </div>
                </div>
            </div>

            <div class="email-form">
                <input asp-for="Email">
                <span asp-validation-for="Email"></span>
                <button class="btn-theme-s" type="submit">Subscribe*</button>
            </div>
             @* <p class="terms">*Yes, I agree to the <a asp-controller="About" asp-action="Terms">Terms</a> and  <a asp-controller="About" asp-action="PrivacyPolicy">Privacy Policy</a></p> *@
        </form>

        <span class="information">
            @if (ViewData["Status"]?.ToString() == "Success")
            {
                <span class="alert alert-success">
                    You have been subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "AlreadyExists")
            {
                <span class="alert alert-warning">
                    You have already subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Invalid")
            {
                <span class="alert alert-danger">
                    You must enter a valid email address
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try again later.
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Unauthorized")
            {
                <span class="alert alert-danger">
                    Something went wrong. Please contact web admin.
                </span>
            }
            else
            {
                <span class="alert">* Yes, I agree to the terms and privacy policy</span>
            }
        </span>
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")