@inject SliderService _sliderService
@{
    var result = await _sliderService.GetAllSliderAsync();
    List<SliderEntity> content = (List<SliderEntity>)result.ContentResult!;
    var slider = content.First();
}

@if (content != null)
{
    <section id="slider">
        <div class="background-container">
            <div class="half dark-mode"></div>
            <div class="half light-mode"></div>
        </div>

        <div class="container">
            <div class="title">
                <h3>@slider.Title</h3>
                <h3 class="dark-text">@slider.Description</h3>
            </div>

            <img class="mockup" src="@slider.Image" alt="@slider.AltText" />
        </div>
    </section>
}
