<section id="slider">
    <div class="background-container">
        <div class="half dark-mode"></div>
        <div class="half light-mode"></div>
    </div>

    <div class="container">
        <div class="title">
            <h3>@Model.Title</h3>
            <h3 class="dark-text">@Model.Description</h3>
        </div>

        <img class="mockup" src="@Model.Image.ImageUrl" alt="@Model.Image.AltText" />
    </div>
</section>