@import './core/media';
@import './core/colors';
@import './core/typography';
@import './core/base';
@import './core/variables';

.fixed-bottom {
    position: fixed;
    border: 0;
    left: 0;
    right: 0
}