.alert {
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px 1rem;
    display: block;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.alert-dark {
    background-color: var(--color-gray-900);
    color: var(--color-gray-000);
}

.alert-gray {
    background-color: var(--color-gray-200);
    color: var(--color-gray-800);
}

.alert-info {
    background-color: var(--color-info);
    color: var(--color-gray-800);
}

.alert-success {
    background-color: var(--color-success);
    color: var(--color-gray-800);
}

.alert-warning {
    background-color: var(--color-warning);
    color: var(--color-gray-800);
}

.alert-danger {
    background-color: var(--color-danger);
    color: var(--color-gray-800);
}
