@mixin button {
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-theme {
    @include button;
    background: var(--color-theme);
    color: var(--color-gray-000);
    border: none;

    &:hover {
        background: var(--color-gray-700);
        text-decoration: none;
        color: var(--color-gray-000);
    }

    &.dark {
        color: var(--color-gray-000);
    }
}

.btn-theme-s {
    @include button;
    @include theme-shadow;
    background: var(--color-theme);
    color: var(--color-gray-000);
    padding-top: 10px;
    padding-bottom: 13px;

    &:hover {
        @include theme-secondary-shadow;
        text-decoration: none;
        background: var(--color-gray-700);
        color: var(--color-gray-000);
    }

    &.dark {
        color: var(--color-gray-000);
    }
}

.btn-gray {
    @include button;
    color: var(--color-gray-900);
    background: var(--color-gray-200);
    border: none;

    &:hover {
        text-decoration: none;
        background: var(--color-gray-700);
        color: var(--color-gray-000);
    }

    &.dark {
        color: var(--color-gray-700);
    }
}

.btn-switch {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
        @include text-nav;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            transition: .4s;

            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
            }
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}

.btn-social {
    @include text-xl;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mobilemenu {
    background-color: $transparent;
    border: none;
    font-size: 25px;
}

.btn-red {
    @include button;
    background: $danger;
    color: white;
    border: none;

    &:hover {
        background: var(--color-gray-700);
        text-decoration: none;
        color: var(--color-gray-000);
    }
}

.btn-red-border {
    @include button;
    background: $transparent;
    color: $danger;
    border: 1px solid $danger;

    &:hover {
        background: var(--color-gray-700);
        text-decoration: none;
        color: var(--color-gray-000);
    }
}