form {
    width: 100%;
    display: grid;

    .input-group {
        display: grid;
    }

    .checkbox {
        span {
            display: block;

            &.field-validation-error {
                position: static;
                top: 0;
                right: 0;
                color: var(--color-danger-dark);
            }
        }
    }

    .checkbox-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        input[type="checkbox"] {
            height: 1.2rem;
            width: 1.2rem;
            border: 0.063rem solid red;
        }

        label {
            margin: 0;
            font-weight: 400;
        }
    }

    label {
        margin-bottom: 0.188rem;
        font-weight: 700;
    }

    input {
        padding: 1rem;
        border-radius: 0.5rem !important;
        border: 0.063rem solid var(--color-gray-400);
        background: var(--color-gray-000);
        color: var(--color-gray-900);

        &.dark {
            background: var(--color-gray-100);
            border: 1px solid var(--color-gray-200);
            color: var(--color-gray-000);
        }

        &::placeholder {
            opacity: 1;
            color: var(--color-gray-300);
        }

        &.input-validation-error {
            border: 0.063rem solid var(--color-danger-dark) !important;
            color: var(--color-danger-dark);

            &::placeholder {
                color: var(--color-danger-dark);
            }
        }

        &:focus {
            outline: none;
            border: 0.063rem solid var(--color-gray-600);
        }
    }

    textarea {
        padding: 1rem;
        border-radius: 0.5rem !important;
        border: 0.063px solid var(--color-gray-400);
        resize: none;
        background: var(--color-gray-000);
        color: var(--color-gray-900);

        &.dark {
            background: var(--color-gray-800);
            border: 1px solid var(--color-gray-700) !important;
            color: var(--color-gray-000);
        }

        &::placeholder {
            opacity: 1;
            color: var(--color-gray-300);
        }

        &.input-validation-error {
            border: 0.063px solid var(--color-danger-dark) !important;
            color: var(--color-danger-dark);

            &::placeholder {
                color: var(--color-danger);
            }
        }
    }

    span {
        &.field-validation-error {
            position: absolute;
            top: 0;
            right: 0;
            color: var(--color-danger-dark);

            &::after {
                position: absolute;
                top: 46px;
                right: 10px;
                z-index: 10;
                font-size: 2rem;
                display: block;
                content: '\2BBF';
            }
        }
    }

    select {
        padding: 10px;
        border: 2px solid var(--color-gray-400);
        border-radius: 5px;
        margin-right: 10px;
        width: 240px;
        height: 44px;
        background-color: $transparent;
        margin-bottom: 10px;
        color: var(--color-gray-900);

        &.dark {
            background-color: var(--color-gray-800) !important;
            border: 1px solid var(--color-gray-700) !important;
            color: var(--color-gray-000);
        }
    }
}