a {
    @include standard-text;
    color: $theme;
    text-decoration: none;
    transition: all 0.25s ease-in-out;

    &:hover {
        text-decoration: underline;
    }
}

.menu-link {
    @include text-nav;
    text-decoration: none;
    transition: color 0.25s ease-in-out;

    &:hover,
    &:active,
    &:focus,
    .active {
        color: $theme;
        text-decoration: none;
    }
}

.more-link {
    @include text-s;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none !important;

    i {
        @include shadow-s;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
        transition: all 0.1s ease-in-out;
    }

    &:hover {
        span {
            text-decoration: underline;
        }

        i {
            background: $gray-800;
            color: $white;
        }
    }
}
