@model SignUpViewModel
@{
    ViewData["Title"] = Model.Title;
}

<section id="signup">
    <div class="container">
        <form method="post" asp-controller="Auth" asp-action="SignUp" novalidate>
            <h1>Create Account</h1>
            <p>Already have an account? <a asp-controller="Auth" asp-action="SignIn">Sign in here</a>.</p>

            <div class="content">
                <div id="form-firstName" class="input-group">
                    <label asp-for="Form.FirstName"></label>
                    <span asp-validation-for="Form.FirstName"></span>
                    <input asp-for="Form.FirstName" />
                </div>
                <div id="form-lastName" class="input-group">
                    <label asp-for="Form.LastName"></label>
                    <span asp-validation-for="Form.LastName"></span>
                    <input asp-for="Form.LastName" />
                </div>
                <div id="form-email" class="input-group">
                    <label asp-for="Form.Email"></label>
                    <span asp-validation-for="Form.Email"></span>
                    <input asp-for="Form.Email" />
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Form.Password"></label>
                    <span asp-validation-for="Form.Password"></span>
                    <input asp-for="Form.Password" />
                </div>
                <div id="form-confirm" class="input-group">
                    <label asp-for="Form.ConfirmPassword"></label>
                    <span asp-validation-for="Form.ConfirmPassword"></span>
                    <input asp-for="Form.ConfirmPassword" />
                </div>
                <div id="form-terms" class="checkbox">
                    <div class="checkbox-group">
                        <input asp-for="Form.TermsAndConditions" />
                        <label asp-for="Form.TermsAndConditions">I agree to the <a asp-controller="About" asp-action="Terms">Terms</a> & <a asp-controller="About" asp-action="Conditions">Conditions</a></label>
                    </div>
                    <span asp-validation-for="Form.TermsAndConditions"></span>

                </div>
            </div>
            <button id="form-submit" class="btn-theme-s" type="submit">@Model.Title</button>
        </form>
    </div>
</section>
