@model SignInViewModel
@{
    ViewData["Title"] = "Sign in to your account";
}

<section id="signin">
    <div class="container">

        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="alert">
                @ViewData["ErrorMessage"]
            </div>
        }

        <form method="post" asp-controller="Auth" asp-action="SignIn" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp">Sign up here</a>.</p>

            <div class="content">
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email"></span>
                    <input asp-for="Email" />
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                    <input asp-for="Password" />
                </div>
                <div id="form-remember" class="checkbox">
                    <div class="checkbox-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>
                    </div>

                </div>
                <button id="form-submit" class="btn-theme-s" type="submit">Sign in</button>
                <a id="form-forgot-password" asp-controller="Account" asp-action="Forgot">Forgot your password?</a>
            </div>

            <div class="external-providers">
                <h6>Or sign in with your social account</h6>
                <div class="providers">
                    <a class="btn-theme-secondary" asp-action="Google" asp-controller="Auth"><i class="fa-brands fa-google"></i> Google</a>
                    <a class="btn-theme-secondary" asp-action="Facebook" asp-controller="Auth"><i class="fa-brands fa-facebook"></i> Facebook</a>
                </div>
            </div>
        </form>
    </div>
</section>