@model AccountDetailsViewModel
@{
    // ViewData["Title"] = $"{Model.BasicInfo!.FirstName} {Model.BasicInfo.LastName}'s profile";
}

<div class="container">
    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
    {
        <div class="alert">
            @ViewData["ErrorMessage"]
        </div>
    }
    <section id="account-details">
        @await Html.PartialAsync("~/Views/Sections/_AccountAsidePartial.cshtml")

        <div class="details">

                @await Html.PartialAsync("~/Views/Sections/_AccountDetailsBasicInfoForm.cshtml")

                <hr />

                 @await Html.PartialAsync("~/Views/Sections/_AccountDetailsAddressInfoForm.cshtml")
       
        </div>
    </section>
</div>