
@{
    Layout = "_AccountLayout";
}

    <section id="account-saved-courses">
        <div class="details">
            <section class="saved-items">
                <div class="title">
                    <h2>Saved Items</h2>
                    <button class="btn-red-border" type="submit"><i class="fa-solid fa-trash-can"></i>Delete all</button>
                </div>
            </section>
        </div>
    </section>