<div class="container">
    <section id="account-security">
        @await Html.PartialAsync("~/Views/Sections/_AccountAsidePartial.cshtml")

        <div class="details">
            <section class="password-info">
                @await Html.PartialAsync("~/Views/Sections/_AccountSecurityPasswordPartial.cshtml")
            </section>
            <hr />
            <section class="delete-account">
                @await Html.PartialAsync("~/Views/Sections/_AccountSecurityDeleteFormPartial.cshtml")
            </section>
        </div>
    </section>
</div>
