@model AccountSecurityViewModel

<div class="container">
    <section id="account-security">
        @await Html.PartialAsync("~/Views/Sections/_AccountAsidePartial.cshtml")

        <div class="details">
            <section class="password-info">
                <form method="post" asp-controller="Account" asp-action="Security">
                    <h2>Security</h2>
                    <h5>Password</h5>

                     <div class="content">
                         <div id="form-current-password" class="input-group">
                            <label asp-for="Password.CurrentPassword"></label>
                            <span asp-validation-for="Password.CurrentPassword"></span>
                            <input asp-for="Password.CurrentPassword" />
                         </div>
                         <div id="form-new-password" class="input-group">
                            <label asp-for="Password.NewPassword"></label>
                            <span asp-validation-for="Password.NewPassword"></span>
                            <input asp-for="Password.NewPassword" />
                         </div>
                         <div id="form-confirm-password" class="input-group">
                            <label asp-for="Password.ConfirmPassword"></label>
                            <span asp-validation-for="Password.ConfirmPassword"></span>
                            <input asp-for="Password.ConfirmPassword" />
                         </div>
                    
                         <div class="form-buttons">
                             <button class="btn-gray" type="reset">Cancel</button>
                             <button class="btn-theme" type="submit">Change password</button>
                         </div>
                     </div>
                </form>
            </section>
            <hr />
            <section class="delete-account">
                <form method="post" asp-controller="Account" asp-action="Delete">
                    <h5>Delete account</h5>
                    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we'll send you a link to reactive your account'</p>
                    <div class="content">
                        <div id="form-delete" class="checkbox">
                            <div class="checkbox-group">
                                <input asp-for="DeleteAccount.Delete" />
                                <label asp-for="DeleteAccount.Delete">Yes, I want to delete my account.</label>
                            </div>
                            <span asp-validation-for="DeleteAccount.Delete"></span>
                        </div>
                        <div class="form-button">
                            <button class="btn-red" type="reset">Delete</button>
                        </div>
                    </div>
                 
                </form>
            </section>
        </div>
    </section>
</div>
