<form asp-controller="Account" asp-action="UpdateProfileImage" method="post" enctype="multipart/form-data">
    <input type="file" name="profileImage" accept="image/*" />
    <button type="submit">Upload</button>
</form>
