@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}


<section id="contact" class="contact">
    <div class="container">
        <div class="breadcrumbs">
            <p><i class="fa-solid fa-house"></i> Home</p>
            <i class="fa-solid fa-angles-right"></i>
            <p class="current-page">Contact</p>
        </div>
        <div class="content">
            <div class="left-container">
                <div class="title-box">  
                    <h1>Contact us</h1>
                </div>
                @await Html.PartialAsync("~/Views/Sections/_ContactOptionPartial.cshtml")
            </div>

            <div class="form-container">
                @await Html.PartialAsync("~/Views/Sections/_ContactFormPartial.cshtml")
            </div>
        </div>  
    </div>
    <div class="map">
        <img src="~/images/contact-map.svg" alt="Map of the company location" />
    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")